<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate
Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/ejerciciohibernatepintor</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>



        <!--Añadimos el mapeo de Clases (Jpa)  y Recursos (Hibernate)-->

        <!--Clases-->
        <mapping class="hibernate.entity.Agente"/>
        <mapping class="hibernate.entity.Pintor"/>
        <mapping class="hibernate.entity.Cuadro"/>
        <mapping class="hibernate.entity.Estudio"/>

        <!--Recursos-->
      <!--  <mapping resource="hibernate/hibernate/Agente.hbm.xml"/>
        <mapping resource="hibernate/hibernate/Pintor.hbm.xml"/>
        <mapping resource="hibernate/hibernate/Cuadro.hbm.xml"/>
        <mapping resource="hibernate/hibernate/Estudio.hbm.xml"/>
        -->
    </session-factory>
</hibernate-configuration>